---
import { topPage } from '../constants/topPage'
import Layout from '../layouts/Layout.astro'
---

<Layout {...topPage.pageMeta}>
  <main>
    <section>
      <h1>CALQS</h1>
    </section>
    <section>
      <h2>カラダを軽く、<br />ココロも軽く。</h2>
      <p>
        私たちCALQS(カルクス)は、岐阜県岐阜市で生まれたリラクゼーションブランドです。
        「カラダを軽く、ココロも軽く。」をコンセプトに、ヒトのカラダが最も心地よく負担の無い状態に導く為のサポートを行います。
        また、日常に溶け込むシンプルなプロダクトデザインや洗練された独自機能によりココロも落ち着く環境を整えます。
        そして、皆様の未来にいつまでも寄り添えるような高品質の製品をお届けします。
      </p>
    </section>
    <section>
      <h2>カラダとココロを軽くする、3つの願い</h2>
      <section>
        <h3>緊張をなくしたい</h3>
        <p>
          現代人の多くが悩んでいる「コリ（肩こり、首こり、腰痛等）」の原因の一つである「緊張」。
          筋肉の緊張も精神の緊張もカラダにコリを与えます。カラダが最もリラックスできる環境をサポートします。
        </p>
      </section>
      <section>
        <h3>冷えをなくしたい</h3>
        <p>
          「冷えは万病のもと」と言われますが、古来よりカラダを温める治療法は数多く存在しています。
          特に高度な発展を遂げた現代において、狩猟時代と比べ筋肉や体温調整機能は衰えています。
          冷えた体に、優しく心地よい温もりを与えます。
        </p>
      </section>
      <section>
        <h3>ストレスをなくしたい</h3>
        <p>
          リラックスできる環境を整えるには、細部までこだわらなければなりません。
          心が落ち着くような触り心地、ずっと使い続けられる耐久性、洗練されたデザインなど、
          毎日気持ちよく使えて、ストレスフリーな使い心地を提供します。
        </p>
      </section>
    </section>
    <section>
      <h2>商品一覧</h2>
      <section>
        <h3>首と肩がホッとする枕</h3>
        <h4>就寝前15分間を『心が温まる時間』に</h4>
        <p>
          1日の最後を締めくくる『就寝前15分間』という大切な時間にアプローチ。
          「首ホッと機能」で、首をじんわ～り心地よい温度で温めます。リラックスできる環境を整えることで、
          就寝前の15分間を「今日も良い日だった」と思えるような『心が温まる時間』へと昇華させます。
          また、同時に眠気も誘ってくれ、血行不良が原因の肩こり・首コリにもアプローチしてくれる夢のような枕です。
        </p>
      </section>
      <section>
        <h3>首と肩のことだけを考えたダブル枕</h3>
        <h4>常識に縛られず、カラダの負担を最小限に</h4>
        <p>
          「どの枕も合わない」という悩みの為に生まれました。
          高め・低め・硬め、柔らかめ、様々な好みが分かれる枕に対し、高めで硬めサポートピロー（首部）と、
          低めで柔らかめのヘッドピロー（頭部）という2種類の枕組み合わせることで、首と肩の負担が最小限になる寝姿勢を実現します。
          また、この形状は寝返りがしやすく、いびきや首シワ対策にもなります。
        </p>
      </section>
      <section>
        <h3>美肌まくら Furez(フレズ)</h3>
        <h4>寝ている間も素肌に優しく</h4>
        <p>
          ほとんどの方が気づいていませんが、睡眠中は『枕と顔の肌は擦れやすい環境』です。
          「大切な素肌にとって危険な状況にさらしたくない」という声から生まれた枕です。
          頬を守るチークポケットと、高品質シルク枕カバーで顔のたるみ、シワの原因になる摩擦を少しでも抑えていつまでも綺麗な素肌を手に入れてください。
          枕と顔の"摩擦"や、"寝起きの顔の枕跡（寝跡）"が気になる方におすすめの製品です。
        </p>
      </section>
      <a>商品一覧を見る</a>
    </section>
    <section>
      <h2>ブランドストーリー</h2>
      <p>
        きっかけは肩こりでした。 仕事中毎日同じ体勢を続けることで固まっていくカラダ、
        体の痛みが毎日続くことでイライラしてしまい疲弊していくココロ、
        疲れがたまりどんどんと気持ちは暗く沈んでしまいます。 そんな時にふと光明を見つけます。
        古くなった枕を買い替えたところ肩が少しだけ楽に軽くなったのです。 1日8時間、私たちの頭と首を支えてくれている枕。
        なんでもいいわけがありません。そこから日本中を、また世界各国の枕を調べつくし、 私たちの製品の第一弾である
        「首と肩のことだけを考えたダブル枕」にたどり着きました。 是非一度使ってみてください。
        多くのお客様から喜びの声をたくさん頂いています。 皆様の明るい未来を願っています。
      </p>
    </section>
  </main>
  <footer>
    <p>CALQS</p>
    <address>株式会社サバキュー〒501-0115<br />岐阜県岐阜市鏡島南2-5-6</address>
    <ul>
      <li>プライバシーポリシー</li>
      <li>利用規約</li>
    </ul>
    <p>製品について気になることがあれば お気軽にお問合せください。</p>
    <p>Tel. 058-207-4505</p>
    <p>Mail. support@survaq.com</p>
  </footer>
</Layout>

<style>
  main {
    max-width: 60ch;
    padding: 1.5rem;
    margin: auto;
  }
  h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 800;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    background-position: 0%;
    -webkit-background-clip: text;
    background-size: 400%;
    -webkit-text-fill-color: transparent;
  }
  .instructions {
    padding: 1rem;
    margin: 1rem 0;
    line-height: 1.6;
    background-color: white;
    border: 1px solid rgba(var(--accent), 25%);
    border-radius: 0.4rem;
  }
  .instructions code {
    padding: 0.3em 0.45em;
    font-size: 0.875em;
    font-weight: bold;
    color: rgb(var(--accent));
    background: rgba(var(--accent), 12%);
    border-radius: 4px;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
</style>
