---
---

<footer class="footer">
  <div>
    <p><img src="/logo_black.svg" class="footer-logo" alt="CALQS" loading="lazy" /></p>
    <address>株式会社サバキュー<br />〒501-0115 岐阜県岐阜市鏡島南2-5-6</address>
    <ul class="footer-nav">
      <li>プライバシーポリシー</li>
      <li>利用規約</li>
    </ul>
  </div>
  <div class="footer-text">
    <p class="footer-supple">製品について気になることがあれば<br />お気軽にお問合せください。</p>
    <p>Tel. 058-207-4505</p>
    <p>Mail. support@survaq.com</p>
  </div>
</footer>
<style>
  .footer {
    background-color: var(--gray100);
    display: flex;
    justify-content: space-between;
    padding: 72px 120px;
    font-size: 14px;
    letter-spacing: 6px;
  }
  .footer-logo {
    width: 100px;
  }
  .footer address {
    font-style: normal;
    margin-top: 24px;
    line-height: 2;
  }
  .footer-nav {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-top: 64px;
  }
  .footer-nav li:first-of-type {
    margin-right: 24px;
    padding-right: 20px;
    border-right: 1px solid var(--black);
  }
  .footer-text p {
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 2;
    text-align: right;
  }
  .footer-supple {
    margin-bottom: 24px;
  }
</style>
