.slick-arrow.slick-prev {
  left: 8px;
  z-index: 1;
  width: 36px;
  height: 36px;
}
.slick-next::before, .slick-prev::before {
  font-size: 32px;
}
.slick-arrow.slick-next {
  right: 8px;
  z-index: 1;
  width: 36px;
  height: 36px;
}

@media (max-width: 768px) {
  .carousel_img {
    height: 230px;
  }
}
