---
import AddToCart from '../../components/AddToCart.astro'
import { products } from '../../constants/products'
import Layout from '../../layouts/Layout.astro'

export const getStaticPaths = () => {
  return products.map(({ code }) => ({ params: { product: code } }))
}

const { product: code } = Astro.params
const product = products.find((product) => product.code === code)
const accessToken = import.meta.env.STORE_FRONT_ACCESS_TOKEN ?? ''
---

<Layout {...product.pageMeta}>
  <div>this is {product.title} page</div>
  <div>{product.description}</div>
  <AddToCart productId={product.shopifyId} accessToken={accessToken} />
</Layout>
