---
import ProductCard from '../../components/ProductCard.astro'
import { products } from '../../constants/products'
import { productsPage } from '../../constants/productsPage'
import Layout from '../../layouts/Layout.astro'
---

<Layout {...productsPage.pageMeta}>
  <h1>Products</h1>
  <ul class="link-card-grid">
    {products.map((product) => <ProductCard {...product} />)}
  </ul>
</Layout>
<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
