---
import Footer from '../../components/Footer.astro'
import Header from '../../components/Header.astro'
import ProductCard from '../../components/ProductCard.astro'
import { products } from '../../constants/products'
import { productsPage } from '../../constants/productsPage'
import Layout from '../../layouts/Layout.astro'
---

<Layout {...productsPage.pageMeta}>
  <Header />
  <section class="section">
    <h1 class="h1">PRODUCTS<span class="h1-sub">商品一覧</span></h1>
    <ul class="product-list">
      {
        products.map((product) => (
          <li>
            <ProductCard {...product} />
          </li>
        ))
      }
    </ul>
  </section>
  <Footer />
</Layout>
<style>
  .section {
    max-width: 1200px;
    padding: 80px 80px 120px;
    margin: auto;
  }
  .h1 {
    display: flex;
    align-items: center;
    font-size: 50px;
    letter-spacing: 12px;
    font-weight: 500;
  }
  .h1-sub {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 24px;
  }
  .h1-sub::before {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background-color: var(--black);
    margin-right: 12px;
  }
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 64px;
    margin-top: 80px;
  }
  @media (max-width: 768px) {
    .section {
      padding: 32px 32px 72px;
    }
    .h1 {
      font-size: 24px;
      letter-spacing: 6px;
    }
    .h1-sub {
      font-size: 12px;
      margin-left: 12px;
    }
    .product-list {
      gap: 56px;
      margin-top: 56px;
    }
  }
</style>
