---
import GTM from '../components/GTM.astro'
import '../styles/reset.css'
export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <GTM />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script
      is:inline
      type="text/javascript"
      src="//typesquare.com/3/tsst/script/ja/typesquare.js?64382a85f2044775876b726aac1e02e5"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
        --white: #fff;
        --black: #141414;
        --gray100: #fafafa;
        --gray200: #e7e7e7;
        --gray300: #cacaca;
      }
      html {
        font-family: 'Avenir Next', Verdana, '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'Yu Gothic Pr6N R',
          'Hiragino Kaku Gothic ProN', sans-serif;
        font-weight: 500;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
          Courier New, monospace;
      }
    </style>
  </body>
</html>
